@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* :root{
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #292929;
    --yellow-color: #d4aa11;
} */
*{
    padding: 0;
    margin: 0;
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #1f1f1f;
}
.nav {
    display: flex;
    justify-content: space-around;
  
    align-items: center;
    background-color: rgb(219, 219, 218);
    border-radius: 10px;
    /* border-color: black; */
  }
  .logo {
    /* background-color: red; */
  
    display: flex;
    align-items: center;
  }
  .logo img {
    width: 50px;
    height: 50pz;
    border-radius: 100px;
    z-index: 1;
  }
  .nav-links {
    display: flex;
    list-style: none;
  
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
  }
  .nav-links li a {
    text-decoration: none;
    margin-left: 50px;
    color: rgb(11, 11, 7);
  }
/* a{
    text-decoration: none;
} */
img{
    width: 100%;
    display: block;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content:space-between;
    align-items: center;
    background-color: red;
    /* background-color: var(--dark-color); */
}

.search-container{
   
    background-color: #1f1f1f;
    /* width: 100%; */
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
    border-radius: 10px;
}

.search-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
}
.search-element h3{
    color: white;

   
}
.search-element .form-control{
    height: 40px;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(219, 219, 218);
 
}
.search-list{
    height: 100px;
    width: 500px;

}
 .search-list .search-list-item{
    background-color: white;
  
} 
.search-list .search-list-item:Hover{
    background-color: #1f1f1f;
}
.search-list-item{
    display: flex;
    align-items: center;
    background-color: #c13232;
   
}
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    color: rgb(21, 11, 11);
    font-weight: 600;
    font-size: 1rem;
}

.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}





/* js related class */
.container{
    background-color: rgb(12, 12, 13);
    height: 600px;
    width: 700px;
}
.hide-search-list{
    display: none;
}

/* movie result */
.result-container{
    padding: 3rem 0;
}
.result-grid{
    display: flex;
    padding: 1.5rem;
    /* justify-content: start;
    align-items: start; */
    
}
.movie-poster img{
    height: 400px;
    width: 300px;
    margin: 0 auto;
    border: 4px solid #b35050;
}
.movie-info{
    
    display: flex;
    flex-direction: column;
    text-align:start;
    color: #fff;
    padding-top: 3rem;
    padding-left: 1rem;
}

/* movie info stylings */
.movie-title{
    font-size: 2rem;
    color:#b06969;
    padding-bottom: 10px;
    text-align: center;
}
.movie-misc-info li{
    text-decoration: none;
    list-style: none;
    padding-bottom: 3px;
   
}




